* {
  margin: 0;
  padding: 0;
}

.All {
  width: 100%;
  height: 100vh;
  background-image: url(../images/MainBackGround.webp);
  background-attachment: fixed;
  background-size: cover;
}

.mmv {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textFeild {
  margin-top: 20px;

  position: absolute;
  top: 0;
  position: fixed;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: antiquewhite !;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
